<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Examen U2</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" [routerLink]="['/add-event']">
        Add event
        <ion-icon slot="end" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full" [inset]="true">
    <ion-item *ngFor="let event of eventos; let i = index" [button]="true">
      <ion-label>{{ event.name }} - {{ event.date }}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="openEditModal(true, event)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteEvent(i)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <!-- Editar -->
  <ion-modal [isOpen]="isEditModalOpen" cssClass="full-screen-modal-wrapper">
    <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Edit event</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="openEditModal(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="editEventForm" (ngSubmit)="updateEvent()">
        <ion-item>
          <ion-input formControlName="name" type="text" placeholder="{{selectedEvent?.name}}"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-input formControlName="date" type="text" placeholder="{{selectedEvent?.date}}"></ion-input>
        </ion-item>
      
        <ion-button type="submit" expand="full">Save changes</ion-button>
      </form>
    </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
